#application{
	width: 1000px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	

}

.planeContainer{
	//border: black 1px solid;
	width:100%
}

#left{
	//width:150px;
	//height: 350px;
	display: block;
	float:left;
}
#center{
	//width:250px;
	//height: 350px;
	display: block;
	float:left;
}
#right{
	//width:150px;
	//height:350px;
	display: block;
	float:left;
}
#controll{
	display: block;
	float:left;
}

